<!doctype html>

<html
        lang="en"
        class="light-style layout-menu-fixed layout-compact"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="/admin/assets/"
        data-template="vertical-menu-template-free"
        data-style="light">
<head th:replace="~{library/lib_admin.html::head('RUBIK BMT')}">

</head>
<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <!-- Menu -->

        <aside th:replace="~{library/lib_admin.html::sidebar}"></aside>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
            <!-- Navbar -->

            <nav th:replace="~{library/lib_admin.html::navbar}"></nav>

            <!-- / Navbar -->

            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->
                <div th:fragment="content">
                    <div class="container-xxl flex-grow-1 container-p-y">
                        <!-- Basic Bootstrap Table -->
                        <div class="card">
                            <h5 class="card-header">Danh sách học viên đã đăng ký</h5>
                            <a href="/api/export/downloadStudentsExcel" class="btn btn-primary position-absolute top-0 end-0 mt-2 me-2">Xuất Excel</a>
                            <a href="/students" class="btn btn-primary position-absolute" style="top: 3.5rem; right: 1rem;">Làm Mới</a>
                            <form id="searchForm" action="/students" method="get" class="mb-4 p-3">
                                <div class="mb-3">
                                    <label for="searchType" class="form-label">Tìm kiếm theo:</label>
                                    <select id="searchType" name="searchType" class="form-select">
                                        <option value="name">Tên</option>
                                        <option value="phone">Số điện thoại</option>
                                        <option value="email">Email</option>
                                    </select>
                                </div>
                                <div class="input-group mb-3">
                                    <input type="text" id="keyword" name="keyword" placeholder="Nhập nội dung tìm kiếm" class="form-control"/>
                                    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                                </div>
                                <div id="autocomplete-results" class="autocomplete-results"></div>
                            </form>
                            <div class="table-responsive text-nowrap">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Họ và tên đệm</th>
                                        <th>Tên</th>
                                        <th>Ngày tháng năm sinh </th>
                                        <th>Tên phụ huynh</th>
                                        <th>Email</th>
                                        <th>SDT</th>
                                        <th>Huấn luyện viên</th>
                                        <th>Hình thức học</th>
                                        <th>Xác nhận</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody class="table-border-bottom-0">
                                    <tr th:each="student, stat : ${students}">
                                        <td th:text="${(currentPage * size) + stat.index + 1}"></td>
                                        <td th:text="${student.firstName}"></td>
                                        <td th:text="${student.lastName}"></td>
                                        <td th:text="${student.dateOfBirth}"></td>
                                        <td th:text="${student.parentName}"></td>
                                        <td th:text="${student.email}"></td>
                                        <td th:text="${student.phoneNumber}"></td>
                                        <td th:text="${student.getMentor().getFirstName()} + ' ' + ${student.getMentor().getLastName()}"></td>
                                        <td th:text="${student.getLearningType().getLearningType()}"></td>
                                        <td th:text="${student.confirmed ? 'Đã xác nhận' : 'Chưa xác nhận'}"></td>
                                        <td>
                                            <a th:href="@{students/detail(id=${student.id})}" class="btn btn-secondary">Chi tiết</a>
                                            <a th:href="@{students/edit(id=${student.id})}" class="btn btn-primary">Sửa</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div id="pagination" class="mt-4 p-3">
                                <ul class="pagination">
                                    <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}" class="page-item">
                                        <a th:href="@{/student(page=${i}, size=${size}, keyword=${keyword})}"
                                           th:text="${i + 1}"
                                           th:classappend="${i == currentPage} ? 'active' : ''"
                                           class="page-link"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- / Content -->
                        <!-- Footer -->

                        <!-- / Footer -->

                        <div class="content-backdrop fade"></div>
                    </div>
                    <!-- / Content -->

                    <!-- Footer -->
                    <footer th:replace="~{library/lib_admin.html::footer}"></footer>
                    <!-- / Footer -->


                </div>
                <!-- Content wrapper -->
            </div>
            <!-- / Layout page -->
        </div>

        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="/admin/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="/admin/assets/vendor/libs/popper/popper.js"></script>
    <script src="/admin/assets/vendor/js/bootstrap.js"></script>
    <script src="/admin/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/admin/assets/vendor/js/menu.js"></script>
    <script src="/admin/js/autocompleteStudent.js"></script>

    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="/admin/assets/vendor/libs/apex-charts/apexcharts.js"></script>

    <!-- Main JS -->
    <script src="/admin/assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="/admin/assets/js/dashboards-analytics.js"></script>
    </div>
</body>
</html>
