<!DOCTYPE html>
<html lang="vi"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/library/lib_backtoschool.html::head()}"></head>

<link rel="stylesheet" href="/css/style_backtoschool.css">
<link rel="stylesheet" href="/css/navbar_backtoschool.css">

<body>
    <nav th:replace="~{/backToSchool/index.html::nav}"></nav>
    <section id="introBack" class="d-flex align-items-center p-3">

        <div class="container mt-3">
            <div id="form-container">
                <h2 class="text-center mb-4">Thông tin chung</h2>
                <div style="color: black">
                <h4>
                    Thời gian: 8 tháng 9 năm 2024
                </h4>
                <h4>
                    Địa điểm: Tầng 3, hội trường AEON HALL Tân Phú Celadon
                </h4>
                <h4>
                    Địa chỉ: Số 30 Tân Thắng, Phường Sơn Kỳ, Quận Tân Phú
                </h4>
                <h4>
                    Thời gian đăng ký trực tuyến: 22/08 - 05/09

                </h4>
                    <h4> Chi tiết
                    <span>

                    <a href="https://rubikbmt.vn/back-to-school">

                        https://rubikbmt.vn/back-to-school

                    </a>
                    </span>
                    </h4>


                <h4>
                    Liên hệ: rubikbmtacademy@gmail.com
                </h4>

                </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>