<!DOCTYPE html>
<html lang="vi"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{library/lib_backtoschool.html::head()}"></head>
    <link rel="stylesheet" href="/css/style_backtoschool.css">
    <link rel="stylesheet" href="/css/navbar_backtoschool.css">
<style>
    h4 {
        word-break: break-word;
        word-wrap: break-word;
        max-width: 100%;
    }
</style>
<body>
<nav th:replace="~{library/lib_backtoschool.html::nav}"></nav>
<section id="introBack" class="d-flex align-items-center p-3">
    <div class="container mt-3" >
        <div class="row align-items-center">
            <div class="col-md-6 mb-4 mb-md-0">
                <div class="d-flex flex-column justify-content-center" style="height: 100%; max-height: 100%" id="form-container">
                    <h2 class="text-center mb-4">Thông tin chung</h2>
                    <div style="color: black;">
                        <h5 class="text-wrap"><strong>Thời gian:</strong> 8 tháng 9 năm 2024</h5>
                        <h5 class="text-wrap"><strong>Địa điểm:</strong> Tầng 3, hội trường AEON HALL Tân Phú Celadon</h5>
                        <h5 class="text-wrap"><strong>Địa chỉ:</strong> Số 30 Tân Thắng, Phường Sơn Kỳ, Quận Tân Phú</h5>
                        <h5 class="text-wrap"><strong>Số lượng thí sinh: </strong>100</h5>
                        <h5 class="text-wrap"><strong>Thời gian đăng ký trực tuyến:</strong> 22/08 - 05/09</h5>
                        <h5 class="text-wrap"><strong>Chi tiết:</strong>
                            <a href="https://rubikbmt.vn/back-to-school">https://rubikbmt.vn/back-to-school</a>
                        </h5>
                        <h5 class="text-wrap"><strong>Liên hệ: </strong>rubikbmtacademy@gmail.com hoặc 0964680946</h5>
                        <form th:action="@{/back-to-school/register}" method="GET">
                            <button class="btn btn-primary mt-3" type="submit">Đăng ký ngay</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="image-container text-center">
                    <img src="/images/backToSchool.png" class="img-fluid" alt="Back To School">
                </div>
            </div>
        </div>
    </div>


</section>
</body>
</html>