<!DOCTYPE html>
<html lang="vi"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/library/lib.html::head('BACK TO SCHOOL')}"></head>
    <link rel="stylesheet" href="/css/style_backtoschool.css">
    <link rel="stylesheet" href="/css/navbar_backtoschool.css">
<head>
    <meta charset="UTF-8">
    <title>BackToSchool</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top mask-custom shadow-0">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="/images/AvatarRubikBmt.png" alt="Logo" width="30" height="30" class="d-inline-block align-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="https://rubikbmt.vn">Trang chủ</a>
                </li>                <li class="nav-item">
                    <a class="nav-link" href="https://rubikbmt.vn">Thông tin chung</a>
                </li>                <li class="nav-item">
                    <a class="nav-link" href="https://rubikbmt.vn">Lịch trình</a>
                </li>                <li class="nav-item">
                    <a class="nav-link" href="https://rubikbmt.vn">Lệ phí</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section id="introBack" class="d-flex align-items-center p-3">
    <div class="container mt-3">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div id="form-container">
                    <h2 class="text-center">Đăng ký giải đấu Rubik Back To School</h2>
                    <form th:action="@{/candidates/register}" th:object="${candidate}" method="post">
                        <div class="row">
                            <div class="form-group col-lg-6 mb-0">
                                <label for="lastName">Họ và tên đệm:</label>
                                <input class="form-control"  type="text" id="lastName" th:field="*{lastName}" oninput="clearError(this.id+'Error')">
                                <span class="text-danger" id="lastNameError" th:if="${#fields.hasErrors('lastName')}"
                                      th:errors="*{lastName}"></span>
                            </div>
                            <div class="form-group col-lg-6 mb-0">
                                <label for="firstName">Tên:</label>
                                <input class="form-control"  type="text" id="firstName" th:field="*{firstName}" oninput="clearError(this.id+'Error')">
                                <span class="text-danger" id="firstNameError" th:if="${#fields.hasErrors('firstName')}"
                                      th:errors="*{firstName}"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="dateOfBirth">Ngày tháng năm sinh:</label>
                            <input class="form-control"  type="date" id="dateOfBirth" th:field="*{dateOfBirth}" oninput="clearError(this.id+'Error')">
                            <span class="text-danger" id="dateOfBirthError" th:if="${#fields.hasErrors('dateOfBirth')}"
                                  th:errors="*{dateOfBirth}"></span>
                        </div>

                        <div class="form-group">
                            <label for="phoneNumber">Số điện thoại:</label>
                            <input class="form-control"  type="text" id="phoneNumber" th:field="*{phoneNumber}" oninput="clearError(this.id+'Error')">
                            <span class="text-danger" id="phoneNumberError" th:if="${#fields.hasErrors('phoneNumber')}"
                                  th:errors="*{phoneNumber}"></span>
                        </div>

                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input class="form-control"  type="email" id="email" th:field="*{email}" oninput="clearError(this.id+'Error')">
                            <span class="text-danger" id="emailError" th:if="${#fields.hasErrors('email')}"
                                  th:errors="*{email}"></span>
                        </div>
                        <div class="" style="display: none">
                            <label for="competition">Competition:</label>
                            <input type="text" id="competition" th:field="*{competition}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="events">Môn thi (có thể chọn nhiều môn):</label><br>
                            <div th:each="event : ${events}">
                                <input type="checkbox" th:field="*{events}" th:value="${event.id}" th:id="${event.id}" />
                                <label th:for="${event.id}" th:text="${event.name}"></label><br>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block" onclick="validateSelection()">Đăng ký</button>
                    </form>
                    <div th:if="${param.success}">
                        <dialog id="successDialog" style="color: #2d676f">
                            <p style="color: #235234">Chúc mừng bạn đã đăng ký thành công, vui lòng kiểm tra email của bạn và làm theo hướng dẫn</p>
                            <button class="dialog-button" onclick="closeDialog()">Đã hiểu</button>
                        </dialog>
                        <script type="text/javascript">
                            document.addEventListener('DOMContentLoaded', function () {
                                var dialog = document.getElementById('successDialog');
                                dialog.showModal();
                            });
                            function closeDialog() {
                                var dialog = document.getElementById('successDialog');
                                if (window.location.search.includes('success')) {
                                    window.location.href = window.location.origin;
                                }
                                dialog.close();
                            }
                        </script>
                    </div>
                </div>
            </div>
            <div class="col-md-6 image-container ">
                <img src="/images/backToSchool.png" alt="Back To School">
            </div>
        </div>
    </div>
</section>
</body>
</html>