<!DOCTYPE html>
<html lang="vi"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{library/lib_backtoschool.html::head()}">
    <style>
        #form-container {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        #register-success-list {
            flex-grow: 1;
            overflow-x: auto;
            margin-bottom: 10px;
        }

        .table {
            width: 100%;
            min-width: 600px;
            white-space: nowrap;
        }

        #pagination-controls {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            margin-top: 10px; /* Optional: Add margin if needed */
        }

        #page-numbers {
            display: flex;
            gap: 5px; /* Optional: Add gap between page numbers if needed */
        }

        button {
            padding: 8px 16px;
            font-size: 16px;
            cursor: pointer;
        }

        /*.event-image {*/
        /*    margin: 5px;*/
        /*    border-radius: 5px;*/
        /*}*/

    </style>
</head>
<body>
<link rel="stylesheet" href="/css/style_backtoschool.css">
<link rel="stylesheet" href="/css/navbar_backtoschool.css">
<nav th:replace="~{library/lib_backtoschool.html::nav}"></nav>
<section id="introBack" class="d-flex align-items-center p-3">
    <div class="container mt-3">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div id="form-container">
                    <h2 class="text-center">Đăng ký giải đấu Rubik Back To School</h2>
                    <form th:action="@{/candidates/register}" th:object="${candidate}" method="post">
                        <div class="row">
                            <div class="form-group col-lg-6 mb-0">
                                <label for="lastName">Họ và tên đệm:</label>
                                <input class="form-control" type="text" id="lastName" th:field="*{lastName}"
                                       oninput="clearError(this.id+'Error')">
                                <span class="text-danger" id="lastNameError" th:if="${#fields.hasErrors('lastName')}"
                                      th:errors="*{lastName}"></span>
                            </div>
                            <div class="form-group col-lg-6 mb-0">
                                <label for="firstName">Tên:</label>
                                <input class="form-control" type="text" id="firstName" th:field="*{firstName}"
                                       oninput="clearError(this.id+'Error')">
                                <span class="text-danger" id="firstNameError" th:if="${#fields.hasErrors('firstName')}"
                                      th:errors="*{firstName}"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="dateOfBirth">Ngày tháng năm sinh:</label>
                            <input class="form-control" type="date" id="dateOfBirth" th:field="*{dateOfBirth}"
                                   oninput="clearError(this.id+'Error')">
                            <span class="text-danger" id="dateOfBirthError" th:if="${#fields.hasErrors('dateOfBirth')}"
                                  th:errors="*{dateOfBirth}"></span>
                        </div>

                        <div class="form-group">
                            <label for="phoneNumber">Số điện thoại:</label>
                            <input class="form-control" type="text" id="phoneNumber" th:field="*{phoneNumber}"
                                   oninput="clearError(this.id+'Error')">
                            <span class="text-danger" id="phoneNumberError" th:if="${#fields.hasErrors('phoneNumber')}"
                                  th:errors="*{phoneNumber}"></span>
                        </div>

                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input class="form-control" type="email" id="email" th:field="*{email}"
                                   oninput="clearError(this.id+'Error')">
                            <span class="text-danger" id="emailError" th:if="${#fields.hasErrors('email')}"
                                  th:errors="*{email}"></span>
                        </div>
                        <div class="" style="display: none">
                            <label for="competition">Competition:</label>
                            <input type="text" id="competition" th:field="*{competition}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="events">Môn thi (có thể chọn nhiều môn):</label><br>
                            <div th:each="event : ${events}">
                                <input type="checkbox" th:field="*{events}" th:value="${event.id}" th:id="${event.id}"/>
                                <label th:for="${event.id}" th:text="${event.name}"></label><br>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block" onclick="validateSelection()">Đăng ký
                        </button>
                    </form>
                    <div th:if="${param.success}">
                        <dialog id="successDialog" style="color: #2d676f">
                            <p style="color: #235234">Cảm ơn bạn đã đăng ký tham gia, nhớ thanh toán lệ phí nhé</p>
                            <button class="dialog-button" onclick="closeDialog()">Thông tin thanh toán nè</button>
                        </dialog>
                        <script type="text/javascript">
                            document.addEventListener('DOMContentLoaded', function () {
                                var dialog = document.getElementById('successDialog');
                                dialog.showModal();
                            });

                            function closeDialog() {
                                var dialog = document.getElementById('successDialog');
                                if (window.location.search.includes('success')) {
                                    window.location.href = '/back-to-school/cost';
                                }
                                dialog.close();
                            }
                        </script>
                    </div>
                </div>
            </div>
            <div class="col-md-6 image-container">
                <div id="form-container" style="max-height: 80%; min-height: 20vh;">
                    <h2 class="text-center">Các thí sinh đã đăng ký thành công</h2>
                    <p style="color: black;">* Danh sách chỉ hiển thị các thí sinh đã hoàn thành lệ phí và được xác nhận sau 24h kể từ khi đóng lệ phí</p>
                    <div id="register-success-list" class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Họ và tên thí sinh</th>
                                <th>Bộ môn dự thi</th>
                            </tr>
                            </thead>
                            <tbody id="candidates-table-body">
                            <!-- Candidate rows will be dynamically inserted here -->
                            </tbody>
                        </table>
                        <div id="page-numbers"></div>
<!--                            <div id="pagination-controls">-->
<!--                                <button id="prev-page">Trang trước</button>-->
<!--                                <button id="next-page">Trang kế</button>-->
<!--                            </div>-->

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<script async defer src="/scripts/candidates/acceptCadidates.js"></script>
</body>
</html>
