<!doctype html>
<html lang="en" class="light-style layout-menu-fixed layout-compact" dir="ltr"
      data-theme="theme-default" data-assets-path="/admin/assets/"
      data-template="vertical-menu-template-free" data-style="light">
<head th:replace="~{library/lib_admin.html::head('User Management')}">
    <style>
        /* Bạn có thể thêm các style tùy chỉnh ở đây */
    </style>
</head>
<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <!-- Menu -->
        <aside th:replace="~{library/lib_admin.html::sidebar}"></aside>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
            <!-- Navbar -->
            <nav th:replace="~{library/lib_admin.html::navbar}"></nav>
            <!-- / Navbar -->

            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->
                <div th:fragment="content">
                    <div class="container-xxl flex-grow-1 container-p-y">
                        <a th:href="@{/classroomDetails/addClassroomDetail(studentId=${currentStudent.id})}" class="btn btn-primary mb-3">Thêm học sinh vào lớp</a>
                        <!-- Basic Bootstrap Table -->
                        <div class="card">
                            <h5 class="card-header" th:text="'Danh sách lớp học của học viên ' + ${currentStudent.getLastName()} + ' ' + ${currentStudent.getFirstName()}"></h5>
                            <a th:href="@{/classroomDetails/by-student(studentId=${currentStudent.id})}" class="btn btn-primary position-absolute"
                               style="top: 3.5rem; right: 1rem;">Làm Mới</a>


                            <!-- Table -->
                            <div class="table-responsive text-nowrap">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Tên lớp học</th>
                                        <th>Tên giáo viên chủ nhiệm</th>
                                        <th>Tên học sinh</th>
                                        <th>Học phí đã đóng</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody class="table-border-bottom-0">
                                    <tr th:each="classroomDetail, stat : ${classroomDetails}">
                                        <td th:text="${ stat.index + 1}"></td>
                                        <td th:text="${classroomDetail.classroom.name}"></td>
                                        <td th:text="${classroomDetail.classroom.teacher.lastName} + ' ' + ${classroomDetail.classroom.teacher.firstName}"></td>
                                        <td th:text="${classroomDetail.student.lastName} + ' ' + ${classroomDetail.student.firstName}"></td>
                                        <td th:text="${classroomDetail.paid}"></td>

                                        <td>
                                            <a th:href="@{/classroomDetails/edit(id=${classroomDetail.id}, callbackUrl=${'/classroomDetails/by-student?studentId=' + currentStudent.id})}"
                                               class="btn btn-primary" type="button">Sửa</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>


                        </div>
                    </div>
                    <!-- / Content -->
                </div>
                <!-- Content wrapper -->
            </div>
            <!-- / Layout page -->
        </div>

        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>
</div>
<!-- / Layout wrapper -->

<!-- Core JS -->
<script src="/admin/assets/vendor/libs/jquery/jquery.js"></script>
<script src="/admin/assets/vendor/libs/popper/popper.js"></script>
<script src="/admin/assets/vendor/js/bootstrap.js"></script>
<script src="/admin/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="/admin/assets/vendor/js/menu.js"></script>

<!-- Vendors JS -->
<script src="/admin/assets/vendor/libs/apex-charts/apexcharts.js"></script>
<!-- Main JS -->
<script src="/admin/assets/js/main.js"></script>
<!-- Page JS -->
<script src="/admin/assets/js/dashboards-analytics.js"></script>
</body>
</html>