<!doctype html>
<html
        lang="en"
        class="light-style layout-menu-fixed layout-compact"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="/admin/assets/"
        data-template="vertical-menu-template-free"
        data-style="light">
<head th:replace="~{library/lib_admin.html::head('RUBIK BMT')}">
    <style>
        #autocomplete-results {
            position: absolute;
            background-color: #fff;
            border: 1px solid #ddd;
            box-shadow: 0 2px 4px rgba(0,0,0,0.2);
            max-height: 150px;
            overflow-y: auto;
            z-index: 1000;
            display: none;
        }

        .autocomplete-suggestion {
            padding: 8px ;
            cursor: pointer;
        }

        .autocomplete-suggestion:hover {
            background-color: #f0f0f0;
        }

        .autocomplete-suggestion.active {
            background-color: #dcdcdc;
        }
        .table-td-limited {
            max-width: 300px;
            word-wrap: break-word;
            overflow: hidden;
        }
    </style>
</head>
<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <!-- Menu -->
        <aside th:replace="~{library/lib_admin.html::sidebar}"></aside>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
            <!-- Navbar -->
            <nav th:replace="~{library/lib_admin.html::navbar}"></nav>
            <!-- / Navbar -->

            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->
                <div th:fragment="content">
                    <div class="container-xxl flex-grow-1 container-p-y">
                        <div class="card">
                            <h5 class="card-header" th:text="'Danh sách bài viết'"></h5>
                            <form id="searchForm" action="/articles/search" method="get" class="p-6">
                                <div class="mb-3">
                                    <label for="searchType" class="form-label">Tìm kiếm theo:</label>
                                    <select id="searchType" name="searchType" class="form-select">
                                        <option value="title">Tiêu đề</option>
                                        <option value="author">Tác giả</option>
                                        <option value="category">Thể loại</option>
                                    </select>
                                </div>
                                <div class="input-group mb-3" id="searchInput">
                                    <input type="text" id="keyword" name="keyword"
                                           placeholder="Nhập nội dung tìm kiếm" class="form-control"/>
                                    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                                </div>
                            </form>
                            <a href="/articles/add" style="width: 200px" class="btn btn-primary m-lg-6">Tạo bài viết mới</a>
                            <div class="table-responsive text-nowrap">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Thumbnail</th>
                                        <th>Thông tin</th>
                                        <th>Số lượt xem</th>
                                        <th>Trạng thái</th>
                                        <th>Tin hot</th>
                                        <th>Thao tác</th>
                                    </tr>
                                    </thead>
                                    <tbody class="table-border-bottom-0">
                                    <tr th:each="article, stat : ${articles}">
                                        <td th:text="${stat.index + 1}"></td>
                                        <td>
                                            <img th:if="${article.thumbnail != null}"
                                                 th:src="${article.thumbnail.startsWith('http') ? article.thumbnail : '/getimage/' + article.thumbnail}"
                                                 alt="Thumbnail"
                                                 style="width: 200px; height: auto; margin-right: 15px;">
                                        </td>
                                        <!-- Cột Thông tin gộp các dữ liệu khác -->
                                        <td>
                                            <strong th:text="${article.title}"></strong><br/>
                                            <span>Thời điểm đăng: <span th:text="${article.createdAt}"></span></span><br/>
                                            <span>Người đăng: <span th:text="${article.author.lastName} + ' ' + ${article.author.firstName} + ' (' + ${article.author.username} + ')'"></span></span><br/>
                                        </td>
                                        <td th:text="${article.view}"></td>
                                        <td th:text="${article.isDeleted ? 'Đã xoá' : 'Đang hiển thị'}"
                                            th:class="${article.isDeleted ? 'text-danger' : 'text-success'}"></td>
                                        <td th:text="${article.isHot ? 'Có' : 'Không'}"
                                            th:class="${article.isHot ? 'text-success' : ''}"></td>
                                        <td>
                                            <a th:href="@{/articles/detail/{id}(id=${article.id})}" class="btn btn-info" type="button">Xem bài viết</a>
                                            <a th:href="@{/articles/edit/{id}(id=${article.id})}" class="btn btn-primary" type="button">Sửa</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- / Content -->
                    </div>
                    </div>
                    <!-- Content wrapper -->
                </div>
                <!-- / Layout page -->
            </div>

            <!-- Overlay -->
            <div class="layout-overlay layout-menu-toggle"></div>
        </div>
    </div>
    <!-- / Layout wrapper -->

    <!-- Core JS -->
    <script src="/admin/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="/admin/assets/vendor/libs/popper/popper.js"></script>
    <script src="/admin/assets/vendor/js/bootstrap.js"></script>
    <script src="/admin/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/admin/assets/vendor/js/menu.js"></script>
    <script src="/admin/js/autocomplete.js"></script>
    <script src="/admin/js/searchBlog.js"></script>

    <!-- Vendors JS -->
    <script src="/admin/assets/vendor/libs/apex-charts/apexcharts.js"></script>
    <!-- Main JS -->
    <script src="/admin/assets/js/main.js"></script>
    <!-- Page JS -->
    <script src="/admin/assets/js/dashboards-analytics.js"></script>
</body>
</html>