/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
    color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scrolled .navbar-brand {
    color: #fff;
}

/* Color of the navbar AFTER scroll */
.navbar-scroll,
.navbar-scrolled {
    background-color: #cbbcb1;
}


.navbar-brand {
    letter-spacing: 3px;
}

.mask-custom {
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, .15);
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: #dad7d7;
}

@media (max-width: 992px) {
    .nav-link {
        color: black;
    }
    .nav-link:hover {
        color: rgba(0, 0, 0, 0.45);
    }
}

@media (min-width: 992px) {
    #navbar-button {
        display: none;
    }
}
