body {
    font-family: "Be Vietnam Pro", sans-serif;
    margin: 0;
    padding: 0;
}

#intro {
    background: linear-gradient(135deg, #dbf157, #a5c9e8);
    color: #2d676f;
    height: 100vh;
}

#intro h1,
#intro p {
    color: #2d676f;
}

#intro button {
    background-color: #f0e68c;
    color: #2d676f;
    border-radius: 10px;
    padding: 10px 20px;
}

#intro button:hover {
    background-color: #e6d8a5;
}
#backToSchool {
    background: linear-gradient(135deg, #e18080, #3f67a8);
    color: #2d676f;
    height: 100vh;
}

#backToSchool h1,
#backToSchool p {
    color: #2d676f;
}

#backToSchool button {
    background-color: #f0e68c;
    color: #2d676f;
    border-radius: 10px;
    padding: 10px 20px;
}

#backToSchool button:hover {
    background-color: #e6d8a5;
}

#about {
    background: linear-gradient(135deg, #f0f4f9, #f7e7e1);
    color: #2d676f;
}

#about h1 {
    color: #2d676f;
    font-weight: bold;
}
#shopee {
    background: linear-gradient(135deg, #f5d5b1, #e18080);
    color: #2d676f;
    padding:  0;
}

#shopee h1 {
    color: #2d676f;
    font-weight: bold;
}

#shopee h3 {
    color: #2d676f;
    font-weight: bold;
}

#shopee p {
    color: #2d676f;
    font-size: 16px;
}

#shopee h1,
#shopee p {
    color: #2d676f;
}

#shopee button {
    background-color: #f0e68c;
    color: #2d676f;
    border-radius: 10px;
    padding: 10px 20px;
}

#shopee button:hover {
    background-color: #e6d8a5;
}
.circle-image {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#about h3 {
    color: #2d676f;
    font-weight: bold;
}

#about p {
    color: #2d676f;
    font-size: 16px;
}
#social-media h1 {
    color: #2d676f;
}

#social-media h2 {
    color: #024057;
}

#social-media .card-title {
    color: #024057;
    margin: 0;
    display: flex;
    align-items: center;
    height: 50px;
    text-align: center;
}

#social-media .card-text {
    color: #4D4D4D;
    margin: 0;
    text-align: center;
}

#social-media .card {
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 20px;
    transition: background-color 0.2s linear;
}

#social-media .card:hover{
    background-color: #dee0e1;

}
#social-media .card:hover > a{
    text-decoration: none;
}

#social-media .icon {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

#social-media a {
    text-decoration: none;
    color: #4D4D4D;
}

#social-media a:hover {
    text-decoration: underline;
    color: #024057;
}

#footer {
    background: cornsilk;
    color: #2d676f;
}

#footer .bg-dark {
    background-color: #333 !important;
}

#footer .text-warning {
    color: #000000 !important;
    font-weight: 600;
}

#footer .py-4 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}

#footer .form-control {
    border: none;
    border-radius: 0;
    box-shadow: none;
}

#footer .form-control:focus {
    box-shadow: none;
}

#footer .text-decoration-none {
    text-decoration: none !important;
}

#footer .text-white {
    color: #000000 !important;
}

#footer .me-3 {
    margin-right: 1rem !important;
}

#footer .bi-facebook, .bi-youtube {
    transition: color 0.3s ease;
}

#footer .bi-facebook:hover, .bi-youtube:hover {
    color: #f0ad4e;
}

#footer h3{
    color: #000000 !important;
    display: flex;
    align-items: center;
    text-align: center;
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
}

a {
    text-decoration: none !important;
}

.info {
    display: inline-block;
    width: auto;
    transition: transform 0.3s ease;
}

.info:hover {
    transform: scale(1.05);
}
.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.dialog {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    position: relative;
}

.dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.dialog-header h2 {
    margin: 0;
    font-size: 1.5em;
}

.dialog-close {
    cursor: pointer;
    font-size: 1.2em;
}

.dialog-content {
    font-size: 1em;
    line-height: 1.5;
}

#mentors h3 {
    color: #2d676f;
    font-weight: bold;
}

#mentors p {
    color: #2d676f;
    font-size: 16px;
}
#mentors {
    background: linear-gradient(135deg, #f0f4f9, #f7e7e1);
    color: #2d676f;
}

#mentors h1 {
    color: #2d676f;
    font-weight: bold;
}

.mentor-image {
    max-width: 90%;  /* Đảm bảo hình ảnh không vượt quá chiều rộng của phần tử chứa */
    max-height: 100%; /* Đảm bảo hình ảnh không vượt quá chiều cao của phần tử chứa */
    height: auto;     /* Để giữ tỷ lệ hình ảnh */
    width: auto;      /* Để giữ tỷ lệ hình ảnh */
}
.home-logo {
    width: 55vh;
}

@media (max-width: 1024px) {
    .home-logo {
        width: 30vh; /* Giảm chiều cao trên màn hình nhỏ hơn */
    }
}
@media (max-width: 767px) {
    .home-logo {
        width: 35vh; /* Giảm chiều cao trên màn hình nhỏ hơn */
    }
}

/*@media (max-width: 991px) {*/
/*    .mentor-image {*/
/*        max-width: 50%;*/
/*    }*/
/*}*/
/*@media (max-width: 767px) {*/
/*    .mentor-image {*/
/*        width: 32vh; !* Giảm chiều cao trên màn hình nhỏ hơn *!*/
/*    }*/
/*}*/
dialog {
    border: none;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    text-align: center;
    color: black !important;
}
dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
}
.dialog-button {
    background-color: #f0e68c;
    color: black;
    padding: 10px 20px;
    border: 0px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
}
.dialog-button:hover {
    background-color: #e6d8a5;
}

.btn-primary {
    background-color: #f0e68c;
    color: #2d676f;
    border-radius: 10px;
    border: transparent;
    padding: 10px 20px;
}
.btn-primary:hover {
    background-color: #e6d8a5;
    color: #2d676f;
}

.btn-reply {
    background-color: #2d9ed9;
    color: white;
    border-radius: 10px;
    border: transparent;
    padding: 5px 10px;
}
.btn-reply:hover {
    background-color: #3480a8;
    color: white;
}

#ranking {
    background: #235234;
    color: #2d676f;
    height: auto;
}

#ranking h1 {
    font-weight: bold;

}

#ranking p {
    color: white;
}

#ranking button {
    background-color: #235234;
    color: white;
    border: #235234 solid;
    border-radius: 10px;
    padding: 10px 20px;
    margin-right: 5px;
    white-space: nowrap;
}
#ranking button.outline-button {
    background-color: #f5f8f6;
    color: #235234;
    border: #235234 solid;
    border-radius: 10px;
    padding: 10px 20px;
    margin-right: 5px;
    margin-bottom: 5px;
}
#ranking button.active {
    margin-right: 5px;
    margin-bottom: 5px;
}

#ranking button:hover {
    background-color: #61836d;
}

#result {
    display: flex;
    flex-wrap: nowrap; /* Để button tự xuống dòng nếu không đủ không gian */
    gap: 5px; /* Khoảng cách giữa các button */
}

.event-item {
    display: inline-block;
}

/* Style cho các hình ảnh */
/* Sắp xếp các hình ảnh thành một hàng và sát nhau */
.d-flex {
    display: flex;
    gap: 0; /* Loại bỏ khoảng cách giữa các hình ảnh */
}

.img-button {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 5px;
    transition: transform 0.3s ease, filter 0.3s ease;
    opacity: 0.5;
}

/* Khi được chọn (active) */
.img-button.active {
    transform: scale(1.1);
    filter: hue-rotate(90deg); /* Thay đổi màu sắc của ảnh bằng cách xoay màu */
    opacity: 1;
}
.table > :not(caption) > .rank-1 > * {
    background-color: #e5d08f; /* Màu cho rank 1 */
}

.table > :not(caption) > .rank-2 > * {
    background-color: #cacbce; /* Màu cho rank 2 */
}

.table > :not(caption) > .rank-3 > * {
    background-color: #cec2ae; /* Màu đồng cho rank 3 */
}

.table > :not(caption) > .nextRound > * {
    background-color: rgba(242, 218, 195, 0.34); /* Màu đồng cho rank 3 */
}

.nav-logo {
    border-radius: 0 !important;
}
.thumbnail-container {
    position: relative;
    width: 100%;
    overflow: hidden; /* Ẩn các phần thừa của ảnh */
    border-radius: 15px; /* Thay đổi giá trị này theo nhu cầu */
}

.thumbnail-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Đảm bảo ảnh không bị bóp méo */
}

.small-thumbnail-container {
    position: relative;
    width: 100%; /* Chiếm toàn bộ chiều rộng của col-4 */
    height: 60px; /* Chiều cao cố định */
    overflow: hidden; /* Ẩn các phần thừa của ảnh */
    border-radius: 15px; /* Bo tròn các góc */
}

.small-thumbnail-container img {
    position: absolute;
    top: 50%; /* Đặt ảnh ở giữa theo chiều dọc */
    left: 50%; /* Đặt ảnh ở giữa theo chiều ngang */
    width: 100%; /* Chiều rộng chiếm 100% của container */
    height: auto; /* Chiều cao tự động */
    min-height: 100%; /* Đảm bảo chiều cao tối thiểu là 100% */
    transform: translate(-50%, -50%); /* Đẩy ảnh về giữa */
    object-fit: cover; /* Đảm bảo ảnh không bị bóp méo */
}
#blog {
    background: rgba(240, 230, 140, 0.71);
    color: #2d676f;
    line-height: 1.8;
    text-align: start;
}

#blog * {
    color: #2d676f;
    text-align: start;
}

#blog h1, #blog h3, #blog h6 {
    font-weight: bold;
}

#blog p {
    font-size: 16px;
}

#blog a {
    color: #2d676f;
    transition: color 0.1s ease, transform 0.3s ease, filter 0.3s ease !important;
}

#blog .first-article:hover {
    color: #f7d31d;
}

#blog .article-container {
    margin: 0 auto;
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#blog .more {
    color: gray;
    font-size: small;
    text-transform: uppercase;
    align-items: center;
    text-align: right;
    display: block;
}

#blog .more i {
    color: gray;
}
#blog .more:hover i {
    color: #f7d31d;
}

#blog .first-article a h6,
#blog .first-article a p,
#blog .first-article a span {
    transition: color 0.2s ease; /* Chuyển màu nền mượt mà */
}


#blog .first-article a:hover h6,
#blog .first-article a:hover p,
#blog .first-article a:hover span {
    color: #f7d31d;
}

#blog .first-article a img {
    transition: background-color 0.3s ease; /* Chuyển màu nền mượt mà */
}
#blog .first-article a:hover img {
    background-color: rgba(0, 0, 0, 0.2); /* Làm tối ảnh khi hover */;
}


#blog .row a:hover span {
    color: #f7d31d; /* Đổi màu cho title các bài viết khác */
}

#blog .more:hover {
    color: #f7d31d;
}



#blog .small-thumbnail-container {
    position: relative;
    overflow: hidden;
}

#blog .small-thumbnail-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* Không tối khi không hover */
    transition: background-color 0.3s ease; /* Chuyển màu nền mượt mà */
    z-index: 1;
}

#blog .small-thumbnail-container:hover::before {
    background-color: rgba(0, 0, 0, 0.2); /* Làm tối ảnh khi hover */
}

#blog .small-thumbnail-container img {
    position: relative;
    z-index: 0; /* Đảm bảo ảnh ở phía dưới lớp tối */
}