<!DOCTYPE html>
<html lang="vi"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{library/lib.html::head('RUBIK BMT')}"></head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top mask-custom shadow-0">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="/images/AvatarRubikBmt.png" alt="Logo" width="30" height="30" class="d-inline-block align-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link" href="#intro">Giới thiệu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#mentors">Học Rubik siêu cấp</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#social-media">Mạng xã hội</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#shopee">Mua hàng</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#ranking">Bảng xếp hạng giải đấu Back To School</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#footer">Liên hệ</a>
                    </li>
                </ul>
                <!-- Additional navbar items (optional) -->
                <!--
            <ul class="navbar-nav d-flex flex-row">
                <li class="nav-item me-3 me-lg-0">
                    <a class="nav-link" href="#!">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </li>
                <li class="nav-item me-3 me-lg-0">
                    <a class="nav-link" href="#!">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li class="nav-item me-3 me-lg-0">
                    <a class="nav-link" href="#!">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
            </ul>
            -->
            </div>
        </div>
    </nav>



    <section id="intro" class="d-flex align-items-center">
        <div class="container mt-3">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="full-height" id="container"></div>
                    <!-- <div class="image-container mb-3"> -->
                    <!--     <img src="/images/AvatarRubikBmt.png" alt="BMT Image"> -->
                    <!-- </div> -->
                </div>
                <div class="col-md-6">
<!--                    <h1 class="display-4">RUBIK BMT ACADEMY</h1>-->
                    <img class="home-logo mb-3" src="/images/newLogo.png";>
                    <p class="lead">Học viện có sứ mệnh nâng tầm mạnh mẽ nhận thức và trí tuệ của trẻ em Việt Nam.
                        Là môi trường lý tưởng để khai phá tiềm năng của trẻ.</p>
                    <button type="button" class="btn btn-light btn-lg">
                        <a href="#mentors" class="text-dark text-decoration-none">Học ngay</a>
                    </button>
                </div>
            </div>
        </div>
    </section>

    <section id="mentors" class="d-flex align-items-center text-center">
        <div class="" style="width: 100vw;">
            <div style=" margin-bottom: 30px; background: linear-gradient(90deg, #fed44c, #30ade3,#b855fe);">
                <h1 style="padding: 35px; color: white; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2)">CHỌN 1 HUẤN LUYỆN VIÊN ĐỂ BẮT ĐẦU</h1>
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <a onclick="openDialog('lhp', 'Lê Hà Phong')" target="_blank">
                            <div class="info">
                                <img src="/images/mentor_haphong.png" alt="Ha Phong image" class="mentor-image">
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <a onclick="openDialog('hhtt', 'Hoàng Hà Thuỷ Tiên')" target="_blank">
                            <div class="info">
                                <img src="/images/mentor_thuytien.png" alt="Thuy Tien image" class="mentor-image">
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <a onclick="openDialog('nhtp', 'Nguyễn Hoàng Thiên Phú')" target="_blank">
                            <div class="info">
                                <img src="/images/mentor_thienphu.png" alt="Thien Phu image" class="mentor-image">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="social-media" class="d-flex align-items-center"
        style="background: linear-gradient(to right, #b2d3f5, #e1e8f5);">
        <div class="container py-5">
            <div class="text-center mb-5">
                <h1 class="fw-bold">Mạng xã hội</h1>
            </div>
            <div class="row text-center">
                <div class="col-lg-4 col-md-4 mb-4">
                    <div class="card h-100 border-0 shadow-sm">
                        <a href="https://www.facebook.com/rubikbmtstore" target="_blank">
                            <div class="card-body d-flex align-items-center">
                                <img src="/images/iconFacebook.png" class="icon me-3" alt="Icon 1">
                                <div>
                                    <h5 class="card-title fw-bold">Fanpage Rubik BMT</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 mb-4">
                    <div class="card h-100 border-0 shadow-sm">
                        <a href="https://www.facebook.com/groups/274808232920413" target="_blank">
                            <div class="card-body d-flex align-items-center">
                                <img src="/images/iconGroup.png" class="icon me-3" alt="Icon 2">
                                <div>
                                    <h5 class="card-title fw-bold">Cộng đồng Rubik BMT</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 mb-4">
                    <div class="card h-100 border-0 shadow-sm">
                        <a href="https://www.facebook.com/groups/800477228261027" target="_blank">
                            <div class="card-body d-flex align-items-center">
                                <img src="/images/iconClass.png" class="icon me-3" alt="Icon 3">
                                <div>
                                    <h5 class="card-title fw-bold">Lớp học Rubik</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row text-center">

                <div class="col-lg-4 col-md-4 mb-4">
                    <div class="card h-100 border-0 shadow-sm">
                        <a href="https://www.youtube.com/rubikbmt47" target="_blank">
                            <div class="card-body d-flex align-items-center">
                                <img src="/images/iconYoutube.jpg" class="icon me-3" alt="Icon 5">
                                <div>
                                    <h5 class="card-title fw-bold">Youtube</h5>
                                </div>
                            </div>
                        </a>

                    </div>
                </div>
                <div class="col-lg-4 col-md-4 mb-4">
                    <div class="card h-100 border-0 shadow-sm">
                        <a href="https://www.tiktok.com/@rubikbmt47" target="_blank">
                            <div class="card-body d-flex align-items-center">
                                <img src="/images/iconTikTok.png" class="icon me-3" alt="Icon 5">
                                <div>
                                    <h5 class="card-title fw-bold">TikTok</h5>
                                </div>
                            </div>
                        </a>

                    </div>
                </div>
<!--                <div class="col-lg-4 col-md-4 mb-4">-->
<!--                    <div class="card h-100 border-0 shadow-sm">-->
<!--                        <a href="https://www.instagram.com/rubikbmt" target="_blank">-->
<!--                            <div class="card-body d-flex align-items-center">-->
<!--                                <img src="/images/iconIg.png" class="icon me-3" alt="Icon 7">-->
<!--                                <div>-->
<!--                                    <h5 class="card-title fw-bold">Instagram</h5>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="col-lg-4 col-md-4 mb-4">
                    <div class="card h-100 border-0 shadow-sm">
                        <a href="https://shopee.vn/rubikbmtstore" target="_blank">
                            <div class="card-body d-flex align-items-center">
                                <img src="/images/iconShopee.png" class="icon me-3" alt="Icon 7">
                                <div>
                                    <h5 class="card-title fw-bold">Shopee</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="shopee" class="text-center">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 p-4">
                    <h1>Gian hàng Rubik chính hãng</h1>
                    <button type="button" class="btn btn-light btn-lg">
                        <a href="https://shopee.vn/rubikbmtstore" class="text-dark text-decoration-none">Mua Rubik tại
                            đây</a>
                    </button>
                </div>
                <div class="col-md-6">
                    <div class="image-container">
                        <img src="/images/shopee_screen.png" alt="BMT Image" class="image-container">
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section id="about" class="d-flex align-items-center text-center">
        <div class="container my-5">
            <h1 class="mb-5">Chúng tôi là</h1>
            <div class="row">
                <div class="col-lg-6 col-md-6 mb-4">
                    <a href="https://www.facebook.com/tuan.levan.921677" target="_blank">
                        <div class="info">
                            <div class="circle-image">
                                <img src="/images/Tuantinhtao.jpg" alt="Tuan tinh tao image"
                                     class="img-fluid rounded-circle">
                            </div>
                            <h3 class="mt-4">Lê Văn Tuấn</h3>
                            <p>Nhà sáng lập Học viện Rubik BMT</p>
                        </div>
                    </a>

                </div>
                <div class="col-lg-6 col-md-6 mb-4">
                    <a href="https://www.facebook.com/profile.php?id=100009665823378" target="_blank">
                        <div class="info">
                            <div class="circle-image">
                                <img src="/images/thong.jpg" alt="Thong idol image" class="img-fluid rounded-circle">
                            </div>
                            <h3 class="mt-4">Nguyễn Hữu Thông</h3>
                            <p>Nhà sáng tạo nội dung hàng đầu Việt Nam về trò chơi trí tuệ</p>
                        </div>

                    </a>
                </div>
            </div>
        </div>
    </section>
    <section id="ranking" class="d-flex align-items-center text-center">
        <div class="container my-5 " >
                <h1 class="mb-5 text-white">Bảng xếp hạng giải đấu Back To School</h1>
            <div id="form-container"  class="p-4 shadow-sm rounded bg-white">


                <div class="d-flex flex-wrap justify-content-between">
                    <!-- Div bên trái -->
                    <div class="justify-content-start mb-2 flex-nowrap">
                        <img src="/images/222.png" class="img-button" onclick="activateImage(this, '2')" alt="2X2">
                        <img src="/images/333oh.png" class="img-button" onclick="activateImage(this, '3')" alt="3X3OH">
                        <img src="/images/333.png" class="img-button" onclick="activateImage(this, '1')" alt="3X3">
                    </div>

                    <!-- Div bên phải -->
                    <div id="result"  style="max-width: 500px; overflow-x: auto;">
                        <!-- Nội dung của div result -->
                    </div>
                </div>
                <div class="mt-4">
                    <div class="table-responsive" style="height: 67vh; overflow-y: auto;">
                        <table class="table">
                            <thead class="thead-dark">
                            <tr>
                                <th>Hạng</th>
                                <th>Họ và tên</th>
                                <th>Ao5</th>
                                <th>Best</th>
                                <th>Worst</th>
                                <th>Solves</th>
                            </tr>
                            </thead>
                            <tbody id="round-details-table-body">
                            <!-- Rows will be added here dynamically -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="/scripts/ranking/ranking.js"></script> <!-- Removed async defer -->

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Tự động chọn hình ảnh 3X3 khi trang được tải
            const img2x2 = document.querySelector('.img-button[alt="2X2"]');
            if (img2x2) {
                activateImage(img2x2, '2');
            }
        });

        function activateImage(element, roundId) {
            // Xóa trạng thái active của tất cả các hình ảnh
            document.querySelectorAll('.img-button').forEach(img => {
                img.classList.remove('active');
            });

            // Thêm trạng thái active cho hình ảnh đã chọn
            element.classList.add('active');

            // Gọi hàm xử lý sự kiện
            showJson(roundId, element); // Ensure showJson is defined before this is called
        }
    </script>

    <footer id="footer" class="text-white py-4">
        <div class="container">
            <div class="row">
                <div class="row d-flex justify-content-between">
                    <div class="col-md-4 mb-4">
                        <img src="/images/AvatarRubikBmt.png" alt="Logo" class="mb-3 d-inline-block align-middle" width="40px">
                        <h3 class="d-inline-block align-middle ms-2">RUBIK BMT</h3>
                    </div>

                    <div class="col-md-4 mb-4">
                        <h4 class="text-warning">Liên hệ</h4>
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-white text-decoration-none">Email: rubikbmt47@gmail.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="text-center mt-3">
                <a href="#" class="text-white me-3"><i class="bi bi-facebook" style="font-size: 2rem;"></i></a>
                <a href="#" class="text-white"><i class="bi bi-youtube" style="font-size: 2rem;"></i></a>
            </div>
        </div>
    </footer>

    <!-- Bootstrap JS -->
    <script>
        function openDialog(mentorId, mentorName) {
            document.getElementById('dialogOverlay').style.display = 'flex';
            document.getElementById('mentorId').value = mentorId;
            document.getElementById('mentorNameLabel').textContent = mentorName;
        }

        function closeDialog() {
            document.getElementById('dialogOverlay').style.display = 'none';
        }
    </script>
    <div class="dialog-overlay" id="dialogOverlay">
        <div class="dialog">
            <div class="dialog-header">
                <h2>Khoá học Rubik cao cấp</h2>
                <span class="dialog-close" onclick="closeDialog()">&times;</span>
            </div>
            <div class="dialog-content">
                <form th:action="@{/students/register}" th:object="${student}" method="post">
                    <div class="row">
                        <div class="form-group col-lg-6 mb-0">
                            <label for="lastName">Họ và tên đệm học viên:</label>
                            <input class="form-control"  type="text" id="lastName" th:field="*{firstName}" oninput="clearError(this.id+'Error')">
                            <span class="text-danger" id="lastNameError" th:if="${#fields.hasErrors('firstName')}"
                                  th:errors="*{firstName}"></span>
                        </div>
                        <div class="form-group col-lg-6 mb-0">
                            <label for="firstName">Tên học viên:</label>
                            <input class="form-control"  type="text" id="firstName" th:field="*{lastName}" oninput="clearError(this.id+'Error')">
                            <span class="text-danger" id="firstNameError" th:if="${#fields.hasErrors('lastName')}"
                                  th:errors="*{lastName}"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="parentName">Tên phụ huynh:</label>
                        <input class="form-control"  type="text" id="parentName" th:field="*{parentName}" oninput="clearError(this.id+'Error')">
                        <span class="text-danger" id="parentNameError" th:if="${#fields.hasErrors('parentName')}"
                              th:errors="*{parentName}"></span>
                    </div>
                    <div class="form-group">
                        <label for="dateOfBirth">Ngày tháng năm sinh:</label>
                        <input class="form-control"  type="date" id="dateOfBirth" th:field="*{dateOfBirth}" oninput="clearError(this.id+'Error')">
                        <span class="text-danger" id="dateOfBirthError" th:if="${#fields.hasErrors('dateOfBirth')}"
                              th:errors="*{dateOfBirth}"></span>
                    </div>

                    <div class="form-group">
                        <label for="phoneNumber">Số điện thoại:</label>
                        <input class="form-control"  type="text" id="phoneNumber" th:field="*{phoneNumber}" oninput="clearError(this.id+'Error')">
                        <span class="text-danger" id="phoneNumberError" th:if="${#fields.hasErrors('phoneNumber')}"
                              th:errors="*{phoneNumber}"></span>
                    </div>

                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input class="form-control"  type="email" id="email" th:field="*{email}" oninput="clearError(this.id+'Error')">
                        <span class="text-danger" id="emailError" th:if="${#fields.hasErrors('email')}"
                              th:errors="*{email}"></span>
                    </div>
<!--                        <label>Hình thức</label>-->
<!--                    <div th:each="type : ${learningTypes}">-->
<!--                        <input type="radio" th:field="*{learningType}" th:value="${type.learningType}" th:id="${type}">-->
<!--                        <label th:for="${type}" th:text="${type.learningType}"></label>-->
<!--                    </div>-->

                    <div class="form-group">
                        <label>Hình thức</label>
                        <div th:each="type : ${learningTypes}">
                            <input type="radio" th:field="*{learningType}" th:value="${type.id}" th:id="${type.id}" />
                            <label th:for="${type.id}" th:text="${type.learningType}"></label><br>
                        </div>
                    </div>
                    <p>Bạn đang chọn huấn luyện viên: <label id="mentorNameLabel"></label></p>
                    <input type="hidden" id="mentorId" name="mentorId" th:field="*{mentor.id}" />

                    <button type="submit" class="btn btn-primary btn-block" onclick="">Đăng ký</button>
                </form>
            </div>
        </div>
    </div>
    <div th:if="${param.success}">
        <dialog id="successDialog" style="color: #2d676f">
            <p style="color: #235234">Chúng tôi đã nhận được thông tin và sẽ sớm liên hệ!</p>
            <button class="dialog-button" onclick="closeDialog()">Đã hiểu</button>
        </dialog>
        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', function () {
                var dialog = document.getElementById('successDialog');
                dialog.showModal();
            });
            function closeDialog() {
                var dialog = document.getElementById('successDialog');
                if (window.location.search.includes('success')) {
                    window.location.href = window.location.origin;
                }
                dialog.close();
            }
        </script>
    </div>
    <div th:if="${errors}">
        <dialog id="successDialog" style="color: #2d676f">
            <p style="color: #235234">Đã xảy ra lỗi, vui lòng kiểm tra lại thông tin</p>
            <button class="dialog-button" onclick="closeDialog()">Đã hiểu</button>
        </dialog>
        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', function () {
                var dialog = document.getElementById('successDialog');
                dialog.showModal();
            });
            function closeDialog() {
                var dialog = document.getElementById('successDialog');
                if (window.location.search.includes('success')) {
                    window.location.href = window.location.origin;
                }
                dialog.close();
            }
        </script>
    </div>

</body>

</html>