<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Candidate</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .container {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Edit Candidate</h1>
    <form action="#" th:action="@{updateCandidate(id=${candidate.id})}" method="post">
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" name="lastName" class="form-control" th:value="${candidate.lastName} " th:field="*{candidate.lastName}" required>
        </div>
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" name="firstName" class="form-control" th:value="${candidate.firstName}" th:field="*{candidate.firstName}" required>
        </div>
        <div class="form-group">
            <label for="dateOfBirth">Date of Birth</label>
            <input type="date" id="dateOfBirth" name="dateOfBirth" class="form-control" th:value="${candidate.dateOfBirth}" th:field="*{candidate.dateOfBirth}" required>
        </div>
        <div class="form-group">
            <label for="phoneNumber">Phone Number</label>
            <input type="text" id="phoneNumber" name="phoneNumber" class="form-control" th:value="${candidate.phoneNumber}" th:field="*{candidate.phoneNumber}" required>
        </div>
        <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" id="email" name="email" class="form-control" th:value="${candidate.email}" th:field="*{candidate.email}" required>
        </div>
        <div class="form-group">
            <label for="competition">Competition</label>
            <input type="text" id="competition" name="competition" class="form-control" th:value="${candidate.competition != null ? candidate.competition.name : ''}">
        </div>
        <div class="form-group">
            <label>Môn thi (có thể chọn nhiều môn):</label><br>
            <div th:each="event : ${events}">
                <input type="checkbox" th:field="*{candidate.events}" th:value="${event.id}"
                       th:id="${event.id}" th:checked="true" />
                <label th:for="${event.id}" th:text="${event.name}"></label><br>
            </div>
        </div>


        <button type="submit" class="btn btn-primary">Update</button>
        <a href="#" class="btn btn-secondary">Cancel</a>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
